<!doctype html>
<html data-bs-theme="dark">
<head>
  <title>Graphs</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body class="bg-black text-white">
<div class="container mt-5">
  <h1>Historical Graphs (last 7 days)</h1>
  <div id="graph">{{ graphJSON | safe }}</div>
  <script>
    var graphs = {{ graphJSON | safe }};
    Plotly.plot('graph', graphs.data, graphs.layout);
  </script>
  <a href="/" class="btn btn-primary mt-4">← Dashboard</a>
</div>
</body>
</html>
